@model IVSource.Models.IvsVisaCountris
@{
    ViewData["Title"] = "Country Fact Finder";
    Layout = "~/Views/Shared/_LayoutMemberPage.cshtml";
}

<div id="id-1" class="penal_cont_area">
    <div class="penal_cont">
        <p style="color:black; font-size: 30px; margin-top: -18px; margin-bottom: 18px">Country Fact Finder</p>
        @*@foreach (var y in Model.IvsVisaCountryr)*@
        
            <b>Name:</b>
            <label>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.CountryName))</label>
            <br />
            <br />
            <b>Location:</b>
            <label>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.CountryLocation))</label><img src="~/Uploads/CountrySmallMap/" />
            <br />
            <br />
            <b>Time:</b>
            <label>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.CountryTime))</label>
            <br />
            <br />
            <b>Capital:</b>
            <label>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.CountryCapital))</label>
            <br />
            <br />
            <b>Language:</b>
            @Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.CountryLanguages))
            <br />
            <br />
            <b>Area:</b>
            <label>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.CountryArea))</label>
            <br />
            <br />
            <b>Population:</b>
            <label>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.CountryPopulation))</label>
            <br />
            <br />
            <b>National Day:</b>
            <label>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.CountryNationalDay))</label>
            <br />
            <br />
            <b>Currency:</b>
            <label>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.CountryCurrency))</label>
            <br />
            <br />
            <b>Climate:</b>
            <label>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.CountryClimate))</label>
            <br />
            <b>Holidays : Year:2020:</b>
            <label>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.HolidayName))</label>
            <br />
            <br />
            <b>Airline Name:</b>
            <label>@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.AirlineName))</label>
            <label>(@Html.Raw(System.Net.WebUtility.HtmlDecode(Model.IvsVisaCountryr.AirlineCode)))</label>
            <br />
            <br />
            <b>International Airports:</b>
            @*@foreach (var x in Model.AirportName1)
            {
                <label>@Html.Raw(System.Net.WebUtility.HtmlDecode(x.AirportName))</label>
                <label>(@Html.Raw(System.Net.WebUtility.HtmlDecode(x.AirportCode))),</label>
            }*@
        
    </div>
</div>

