@model IVSource.Models.HomePage

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div class="col-lg-8 login-form">
    <div>
        <h3>Forgot Password</h3>
        <div class="text-danger field-validation-error">@TempData["Message"]</div><br />
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="@Model.login.UserName" class="form-control" placeholder="User Name" />
                <span asp-validation-for="@Model.login.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="@Model.login.EMail" class="form-control" placeholder="E Mail" required="required" type="email" data-msg="Please Enter E Mail" />
                <span asp-validation-for="@Model.login.EMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
            <p class="lgn_btm_lk">
                    <a asp-controller="Login" asp-action="Members">Back to login</a><br>
                </p>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

