@model IVSource.Models.Login
@*@model IVSource.Models.HomePage*@

@{
    ViewData["Title"] = "Members";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

    <div class="col-lg-8 login-form">
        <div>
            <h3>Members Area Only</h3>
            <div class="text-danger field-validation-error">@TempData["Message"]</div><br />
            <form asp-action="Members">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="@Model.UserName" class="form-control" placeholder="User Name" />
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="@Model.TerminalId" class="form-control" placeholder="Terminal Id" required="required" data-msg="Please Enter Terminal Id" />
                    <span asp-validation-for="@Model.TerminalId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
                <p class="lgn_btm_lk">
                    <a asp-controller="Registration" asp-action="Create">Registration</a><br>
                    <a asp-controller="Login" asp-action="ForgotPassword">Forgot password ?</a>
                </p>
            </form>
        </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}