@model IEnumerable<IVSource.Models.HomePage>
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <script src="https://code.jquery.com/jquery-latest.js"></script>

    <script type="text/javascript">
        //Added by Hitesh on 29092023
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        
        $(document).ready(function () {

            //handle if your mouse is over the document body,
            //if not your mouse is outside the document and if you click close button return message or do what you want

            var out = false;
            $("body").mouseover(function () {
                out = false;
            }).mouseout(function () {
                out = true;
            });


            $(window).bind('beforeunload', function (e) {
                if (out) { return "Do you really want to leave this page now?" }
            });

        });
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>World Wide Guide - IV Source</title>

    @*<link rel="canonical" href="http://localhost/ivsourcenew/" />*@
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="World Wide Guide - IV Source" />
    <meta property="og:description" content="The first ever VISA Service Provider, established in 1987, we started advising Travel Agents on documentation. This eventually started as newsletters and culminated in a Publication called &#8220;SOURCE&#8221;, which ran ..." />
    @*<meta property="og:url" content="http://localhost/ivsourcenew/" />*@
    <meta property="og:site_name" content="IV Source" />
    <script type='application/ld+json'>
        @*{"@kcontext":"http:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/localhost\/ivsourcenew\/","name":"IV Source","potentialAction":{"@type":"SearchAction","target":"http:\/\/localhost\/ivsourcenew\/?s={search_term_string}","query-input":"required name=search_term_string"}}*@
    </script>
    <script src="~/js/CovidData.js"></script>
    <meta name="google-site-verification" content="usm9-_Boo0_ubR80_wp-jIpwfg2hDF1KEbpqI_DVQ80" />

    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    @*<link rel="alternate" type="application/rss+xml" title="IV Source &raquo; Feed" href="http://localhost/ivsourcenew/feed/" />*@
    @*<script type="text/javascript">
            window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/localhost\/ivsourcenew\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.16" } };
            !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
        </script>*@
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }

        .map {
            float: right;
            box-shadow: 0px 0px 5px #999;
        }

        /*#main {
            width: 80%;
            margin: 40px auto 0;
            text-align: left;
            background: #849fa7;
            background: rgba(255, 255, 255, 0.3);
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            -o-border-radius: 10px;
            border-radius: 10px;
            padding: 10px;
        }*/
    </style>
    <link rel='stylesheet' id='contact-form-7-css' href='~/css/styles.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='wpcf-slick-css' href='~/css/slick.css?ver=2.1.17' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-carousel-free-fontawesome-css' href='~/css/font-awesome.min.css?ver=2.1.17' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-carousel-free-css' href='~/css/wp-carousel-free-public.css?ver=2.1.17' type='text/css' media='all' />
    <style id='wp-carousel-free-inline-css' type='text/css'>
        #sp-wp-carousel-free-id-5821.sp-wpcp-5821 .wpcp-single-item {
            border: 1px none #dddddd;
        }

        #sp-wp-carousel-free-id-5821.sp-wpcp-5821 .slick-prev,
        #sp-wp-carousel-free-id-5821.sp-wpcp-5821 .slick-next,
        #sp-wp-carousel-free-id-5821.sp-wpcp-5821 .slick-prev:hover,
        #sp-wp-carousel-free-id-5821.sp-wpcp-5821 .slick-next:hover {
            background: none;
            border: none;
            font-size: 30px;
        }

            #sp-wp-carousel-free-id-5821.sp-wpcp-5821 .slick-prev i,
            #sp-wp-carousel-free-id-5821.sp-wpcp-5821 .slick-next i {
                color: #aaa;
            }

                #sp-wp-carousel-free-id-5821.sp-wpcp-5821 .slick-prev i:hover,
                #sp-wp-carousel-free-id-5821.sp-wpcp-5821 .slick-next i:hover {
                    color: #52b3d9;
                }

        #sp-wp-carousel-free-id-5821.sp-wpcp-5821 ul.slick-dots li button {
            background-color: #cccccc;
        }

        #sp-wp-carousel-free-id-5821.sp-wpcp-5821 ul.slick-dots li.slick-active button {
            background-color: #52b3d9;
        }

        @@media screen and (max-width: 479px) {
            #sp-wp-carousel-free-id-5821.nav-vertical-center {
                padding: 0;
            }
        }
    </style>
    @*<link rel='stylesheet' id='wp-lightbox-2.min.css-css' href='~/css/lightbox.min.css?ver=1.3.4' type='text/css' media='all' />*@
    <link rel='stylesheet' id='onepress-fonts-css' href='https://fonts.googleapis.com/css?family=Raleway%3A400%2C500%2C600%2C700%2C300%2C100%2C800%2C900%7COpen+Sans%3A400%2C300%2C300italic%2C400italic%2C600%2C600italic%2C700%2C700italic&#038;subset=latin%2Clatin-ext&#038;ver=2.2.7' type='text/css' media='all' />
    <link rel='stylesheet' id='onepress-animate-css' href='~/css/animate.min.css?ver=2.2.7' type='text/css' media='all' />
    <link rel='stylesheet' id='onepress-fa-css' href='~/css/font-awesome.min.css?ver=4.7.0' type='text/css' media='all' />
    <link rel='stylesheet' id='onepress-bootstrap-css' href='~/css/bootstrap.min.css?ver=2.2.7' type='text/css' media='all' />
    <link rel='stylesheet' id='onepress-style-css' href='~/css/style.css?ver=4.9.16' type='text/css' media='all' />
    <style id='onepress-style-inline-css' type='text/css'>
        #main .video-section section.hero-slideshow-wrapper {
            background: transparent
        }

        .hero-slideshow-wrapper:after {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(40,40,40,0.3);
            display: block;
            content: ""
        }

        .body-desktop .parallax-hero .hero-slideshow-wrapper:after {
            display: none !important
        }

        #parallax-hero > .parallax-bg::before {
            background-color: rgba(40,40,40,0.3);
            opacity: 1
        }

        .body-desktop .parallax-hero .hero-slideshow-wrapper:after {
            display: none !important
        }

        .onepress-menu > li > a {
            color: #80827f
        }

            .onepress-menu > li > a:hover, .onepress-menu > li.onepress-current-item > a {
                color: #0382cf;
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out
            }

        #footer-widgets {
        }

        .gallery-carousel .g-item {
            padding: 0px 10px
        }

        .gallery-carousel {
            margin-left: -10px;
            margin-right: -10px
        }

        .gallery-grid .g-item, .gallery-masonry .g-item .inner {
            padding: 10px
        }

        .gallery-grid, .gallery-masonry {
            margin: -10px
        }

        #secondary a {
            font-weight: bold;
            font-size: medium;
        }

        .activeMemb {
            color: #0382cf !important;
        }

        ul#menu-our-content.sidemenus li {
            border: 1px solid #e8e6e6;
            padding: 6px 6px 6px 15px;
            margin: 0;
        }

        div#secondary {
            padding: 0;
        }

        .accordion {
            background-color: #686968;
            position: relative;
            color: white;
            font-weight: bold;
            cursor: pointer;
            padding: 12px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 17px;
            transition: 0.4s;
            margin-top: 14px;
        }

        .panel {
            border: 1px solid #cecece;
        }

        .accordion:focus {
            outline: unset;
        }

        .blkDD {
            position: absolute;
            right: 15px;
        }

        .active, .accordion:hover {
            background-color: #686968;
        }

        .panel {
            padding: 0 18px;
            background-color: white;
            overflow: hidden;
            padding-bottom: 18px;
            padding-top: 10px;
        }
    </style>
    <link rel='stylesheet' id='onepress-gallery-lightgallery-css' href='~/css/lightgallery.css?ver=4.9.16' type='text/css' media='all' />
    <script type='text/javascript' src='~/js/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='~/js/jquery-migrate.min.js?ver=1.4.1'></script>
    @*<link rel='https://api.w.org/' href='http://localhost/ivsourcenew/wp-json/' />
        <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://localhost/ivsourcenew/xmlrpc.php?rsd" />
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://localhost/ivsourcenew/wp-includes/wlwmanifest.xml" />*@
    <meta name="generator" content="WordPress 4.9.16" />
    @*<link rel='shortlink' href='http://localhost/ivsourcenew/' />
        <link rel="alternate" type="application/json+oembed" href="http://localhost/ivsourcenew/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalhost%2Fivsourcenew%2F" />
        <link rel="alternate" type="text/xml+oembed" href="http://localhost/ivsourcenew/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalhost%2Fivsourcenew%2F&#038;format=xml" />*@
    @*<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-78469714', 'auto');
            ga('send', 'pageview');
            var $ = jQuery;
        </script>*@
    <!-- Stream WordPress user activity plugin v3.1.1 -->
    @*<link rel="icon" href="http://localhost/ivsourcenew/wp-content/uploads/2021/03/cropped-logo-32x32.png" sizes="32x32" />
        <link rel="icon" href="http://localhost/ivsourcenew/wp-content/uploads/2021/03/cropped-logo-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon-precomposed" href="http://localhost/ivsourcenew/wp-content/uploads/2021/03/cropped-logo-180x180.png" />
        <meta name="msapplication-TileImage" content="http://localhost/ivsourcenew/wp-content/uploads/2021/03/cropped-logo-270x270.png" />*@
    @RenderSection("CustomStyles", false)
</head>

<body class="home page-template page-template-template-frontpage page-template-template-frontpage-php page page-id-5823 group-blog">
    <div id="page" class="hfeed site">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        @{
            string countryName = "";
            string countryFlag = "";
            try
            {
                @foreach (var item in Model)
                {
                    countryName = item.bCountryName;
                    countryFlag = item.bCountryFlag;
                }
            }
            catch
            {
                //countryName = @Model[0].bCountryName;
                //countryFlag = @Model[0].bCountryFlag;
            }
            <div id="header-section" class="h-on-top no-transparent">
                @*<header id="masthead" class="site-header header-contained is-sticky no-scroll no-t h-on-top" role="banner">
                        <div class="container">
                            <div class="site-branding">
                                <img id="logoHeader" src="/Uploads/logo/logoIVS.PNG"  style="width:210px"/>
                            </div>
                            <div class="header-right-wrapper">
                                <a href="#0" id="nav-toggle">Menu<span></span></a>
                                <nav id="site-navigation" class="main-navigation" role="navigation">
                                    <ul class="onepress-menu" style="width:900px">
                                        <li id="menu-item-5844" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5844"><a asp-controller="Home" asp-action="Index" asp-fragment="hero">Home</a></li>
                                        <li id="menu-item-5847" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5847"><a asp-controller="Home" asp-action="Index" asp-fragment="about">About</a></li>
                                        <li id="menu-item-5848" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5848"><a asp-controller="Home" asp-action="Index" asp-fragment="services">Services</a></li>
                                        <li id="menu-item-5849" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5849"><a asp-controller="Home" asp-action="Index" asp-fragment="contact">Subscribe</a></li>
                                        <li id="menu-item-5850" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5850"><a asp-controller="Home" asp-action="Index" asp-fragment="contactDiv">Contact</a></li>
                                        <li id="menu-item-5925" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5925"><a asp-controller="Home" asp-action="Members">Members</a></li>
                                        <li id="menu-item-5926" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5926"><div title="Back to Country Search"><a asp-controller="Home" asp-action="SearchCountry"><img id="bck_button" src="~/Uploads/CountryFlag/backnew1.png" alt="Back to Country Search"  width="45" /></a></div></li>
                                        <li id="menu-item-5955" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5955"><div title="Logout"><a asp-controller="Home" asp-action="Logout"><img src="~/Uploads/CountryFlag/Logoutimg.png" alt="Logout" width="25" /></a></div></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </header>*@
                @*Code Changed by Sandeep Sharma on 06-06-2023*@
                <header id="masthead" class="site-header header-contained is-sticky no-scroll no-t h-on-top" role="banner">
                    <div class="container">
                        <div class="site-branding">
                            <img id="logoHeader" src="/Uploads/logo/logoIVS.PNG"/>
                        </div>
                        <div class="header-right-wrapper">
                            <a href="#0" id="nav-toggle">Menu<span></span></a>
                            <nav id="site-navigation" class="main-navigation" role="navigation">
                                <ul class="onepress-menu">
                                    <li id="menu-item-82" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-82"><a asp-controller="Home" asp-action="Index" asp-fragment="hero">Home</a></li>
                                    <li id="menu-item-5847" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5847"><a asp-controller="Home" asp-action="Index" asp-fragment="about">About</a></li>
                                    <li id="menu-item-5848" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5848"><a asp-controller="Home" asp-action="Index" asp-fragment="services">Services</a></li>
                                    <li id="menu-item-5849" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5849"><a asp-controller="Home" asp-action="Index" asp-fragment="contact">Subscribe</a></li>
                                    <li id="menu-item-5850" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-5850"><a asp-controller="Home" asp-action="Index" asp-fragment="contactDiv">Contact</a></li>
                                    <li id="menu-item-5925" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5925"><a asp-controller="Home" asp-action="Members">Members Login</a></li>
                                    <li id="menu-item-5926" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5926"><div title="Back to Country Search"><a asp-controller="Home" asp-action="SearchCountry"><img id="bck_button" src="~/Uploads/CountryFlag/backnew1.png" alt="Back to Country Search" width="45" /></a></div></li>
                                    <li id="menu-item-5955" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5955"><div title="Logout"><a asp-controller="Home" asp-action="Logout"><img src="~/Uploads/CountryFlag/Logoutimg.png" alt="Logout" width="25" /></a></div></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </header>
            </div>
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="cntry_info col-3 col-sm-2">
                            <image class="flag" src="@countryFlag"></image>
                            @*<image class="flag" src="FileCountryFlag/@countryFlag"></image>*@
                        </div>
                        <div class="col-9 col-sm-9">
                            <div class="flag_rgt">
                                <h1 class="entry-title">@countryName</h1>
                            </div>
                        </div>
                        @*<ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Logout">
                                        <i class="fa fa-power-off" aria-hidden="true" style="color: white"></i>
                                    </a>
                                </li>
                            </ul>*@
                    </div>
                </div>
            </div>
            <div id="content" class="site-content">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <div class="container">
                    </div>
                </div>
                <div id="content-inside" class="container right-sidebar">
                    <div id="primary" class="content-area">
                        <main id="main" class="site-main" role="main">

                            @RenderBody()

                        </main><!-- #main -->
                    </div><!-- #primary -->

                    <div id="secondary" class="widget-area sidebar" role="complementary">
                        <aside id="nav_menu-3" class="widget widget_nav_menu">
                            <div class="menu-our-content-container">
                                <ul id="menu-our-content" class="menu sidemenus">
                                    <li id="menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-195"><a data-link="IvsVisaCountriesDetails_User/CountryFactFinder" asp-controller="Home" asp-action="MemberPage" asp-route-countryName="@countryName" asp-route-countryFlag="@countryFlag" asp-route-page="country_fact_find"><i class="fa fa-flag icon-width"></i>Country Fact Finder</a></li>
                                    <li id="menu-item-212" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212"><a data-link="IvsVisaCountriesDiplomaticRepr_User/DiplomaticRepresentation" asp-controller="Home" asp-action="MemberPage" asp-route-countryName="@countryName" asp-route-countryFlag="@countryFlag" asp-route-page="diplomatic_repr"><i class="fa fa-language icon-width"></i>Diplomatic Representation</a></li>
                                    <li id="menu-item-218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-218"><a data-link="IvsVisaCategories_User/VisaNoteFees" asp-controller="Home" asp-action="MemberPage" asp-route-countryName="@countryName" asp-route-countryFlag="@countryFlag" asp-route-page="visa_note_and_fees"><i class="fa fa-drivers-license-o icon-width" style="font-size:14px"></i>Visa Note and Fees</a></li>
                                    @*Added by Hitesh on 091012023*@
                                    <li id="menu-item-22611" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226"><a data-link="IvsVisaCategoriesForms_User/CheckVisaRequirements" data-toggle="tooltip" data-placement="left" asp-controller="Home" asp-action="MemberPage" asp-route-countryName="@countryName" asp-route-countryFlag="@countryFlag" asp-route-page="check_visa_requirements" title="Provide your Passport and Travel Itinerary details to receive information on visa regulations and health requirements for any global destination."><i class="travel-advoise icon-width" style="font-size:14px; margin-right:3px;"></i>Travel Advice</a></li>
                                    <li id="menu-item-216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216"><a data-link="IvsVisaCountryAdvisories_User/ThreeAdvisory" asp-controller="Home" asp-action="MemberPage" asp-route-countryName="@countryName" asp-route-countryFlag="@countryFlag" asp-route-page="3_advisories"><i class="fa fa-tripadvisor icon-width" style="font-size:14px"></i>3 Advisories</a></li>
                                    <li id="menu-item-215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215"><a data-link="IvsVisaCountryAdvisories_User/ReciprocalVisa" asp-controller="Home" asp-action="MemberPage" asp-route-countryName="@countryName" asp-route-countryFlag="@countryFlag" asp-route-page="reciprocal_visa"><i class="fa fa-drivers-license icon-width" style="font-size:14px"></i>Reciprocal Visa</a></li>
                                    <li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214"><a data-link="IvsVisaHelpAddresses_User/Indian_Mission_Overseas" asp-controller="Home" asp-action="MemberPage" asp-route-countryName="@countryName" asp-route-countryFlag="@countryFlag" asp-route-page="indian_mission_overseas"><i class="fa fa-bullseye icon-width"></i>Indian Missions Overseas</a></li>
                                    <li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213"><a data-link="IvsVisaHelpAddresses_User/InternationalHelpAddress" asp-controller="Home" asp-action="MemberPage" asp-route-countryName="@countryName" asp-route-countryFlag="@countryFlag" asp-route-page="international_help"><i class="fa fa-globe icon-width"></i>International Help Addresses</a></li>
                                    <li id="menu-item-226" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226"><a data-link="IvsVisaCategoriesForms_User/DownloadVisaForm" asp-controller="Home" asp-action="MemberPage" asp-route-countryName="@countryName" asp-route-countryFlag="@countryFlag" asp-route-page="download_visa"><i class="fa fa-download icon-width"></i>Download Visa Forms</a></li>
                                    <li id="menu-item-5843" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5843"><a data-link="IvsVisaCountriesDetails_User/WorldFactBook" asp-controller="Home" asp-action="MemberPage" asp-route-countryName="@countryName" asp-route-page="world_fact" target="_blank"><i class="fa fa-history icon-width"></i>World Fact Book</a></li>
                                    @*<li id="menu-item-5844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5844"><a data-link="IvsVisaCovidInformation_User/CovidInformation" asp-controller="Home" asp-action="MemberPage" asp-route-countryName="@countryName" asp-route-countryFlag="@countryFlag" asp-route-page="covid_information">Covid Information</a></li>
                                        <li id="menu-item-5844" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5844">
                                            <a onclick="GetCovidData()">Covid Information</a>
                                        </li>*@
                                    <li id="menu-item-5846" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5846"><a asp-controller="Home" asp-action="SearchCountry"><i class="fa fa-arrow-circle-o-left icon-width"></i>Back to Country Search</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div><!-- #secondary -->
                </div><!--#content-inside -->
            </div>
          
        }
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div id="footer-widgets" class="footer-widgets section-padding ">
                <div class="container">
                    <div class="row">
                        <div id="footer-1" class="col-md-3 col-sm-12 footer-column widget-area sidebar" role="complementary">
                            <aside id="text-1" class="footer-widget widget widget_text">
                                <h2 class="widget-title">QUICK CONTACT INFO</h2>
                                <div class="textwidget">
                                    @foreach (var x in ViewBag.QuickContactInfo)
                                    {
                                        <p>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    @x.CompanyName
                                                </font>
                                            </font>
                                        </p>
                                        <address>
                                            <i class="fa fa-map-marker"></i> @x.Address<br><br>
                                            <i class="fa fa-envelope-o"></i><a href="mailto:ivsource@itq.in"> @x.Email</a><br>
                                            <i class="fa fa-phone"></i><a href="tel:+91 124 428 4800"> @x.Phone</a>
                                        </address>
                                    }
                                </div>
                            </aside>
                        </div>
                        <div id="footer-2" class="col-md-3 col-sm-12 footer-column widget-area sidebar" role="complementary">
                            <aside id="nav_menu-10" class="footer-widget widget widget_nav_menu">
                                <h2 class="widget-title">Our Content</h2>
                                <div class="menu-our-content-container">
                                    <ul id="menu-our-content" class="menu">
                                        @*<li id="menu-item-195" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-195"><a asp-controller="Home" asp-action="CountryFactFinder">Country Fact Finder</a></li>
                                            <li id="menu-item-212" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212"><a asp-controller="Home" asp-action="DiplomaticRepresentation">Diplomatic Representation</a></li>
                                            <li id="menu-item-218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-218"><a asp-controller="Home" asp-action="VisaNoteAndFees">Visa Note and Fees</a></li>
                                            <li id="menu-item-217" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-217"><a asp-controller="Home" asp-action="VisaForm">Visa Form</a></li>
                                            <li id="menu-item-216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216"><a asp-controller="Home" asp-action="Advisories">Advisories</a></li>
                                            <li id="menu-item-215" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-215"><a asp-controller="Home" asp-action="ReciprocalVisa">Reciprocal Visa</a></li>
                                            <li id="menu-item-214" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-214"><a asp-controller="Home" asp-action="IndianMissionsOverseas">Indian Missions Overseas</a></li>
                                            <li id="menu-item-213" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-213"><a asp-controller="Home" asp-action="InternationalHelpAddresses">International Help Addresses</a></li>
                                            <li id="menu-item-226" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226"><a asp-controller="Home" asp-action="Holidays">Holidays</a></li>
                                            <li id="menu-item-55" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-55"><a href="http://mea.gov.in/visa-exemption.htm">M.E.A USEFUL LINKS</a></li>
                                            <li id="menu-item-3687" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3687"><a href="https://indianvisaonline.gov.in/evisa/tvoa.html">E-VISA INTO INDIA</a></li>
                                            <li id="menu-item-3800" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3800"><a href="https://www.who.int/ith/ith-country-list-new.pdf?ua=1">WHO HEALTH RULES WORLD-WIDE</a></li>
                                            <li id="menu-item-225" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-225"><a asp-controller="Home" asp-action="WorldFactBook">World Fact Book</a></li>
                                            <li id="menu-item-4271" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4271"><a href="https://www.flightsfrom.com">FLIGHTSFROM.COM</a></li>
                                            <li id="menu-item-57" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-57"><a href="http://www.flightradar24.com/">Flight Radar</a></li>
                                            <li id="menu-item-474" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-474"><a href="http://www.rome2rio.com/">Plan Your Travel</a></li>
                                            <li id="menu-item-5938" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5938"><a asp-controller="Home" asp-action="IndustryOpines">Industry Opines</a></li>
                                            <li id="menu-item-5939" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5939"><a asp-controller="Home" asp-action="VThePeople">V The People</a></li>
                                            <li id="menu-item-5940" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5940"><a href="https://1drv.ms/p/s!AvR8ZKzS-j4bgmKlerSMU9pRo9rP?e=Rt4nDN">Click For Presentation</a></li>
                                            <li id="menu-item-5937" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5937"><a asp-controller="Home" asp-action="Music">Music</a></li>*@
                                        @foreach (var x in ViewBag.PagesOurContent)
                                        {
                                            @if (x.IsEnable == true)
                                            {
                                                <li><a asp-controller="Home" asp-action="PagesOurContent" asp-route-title="@x.Title">@x.Title</a></li>
                                            }
                                            else
                                            {
                                                <li><a>@x.Title</a></li>
                                            }
                                        }
                                        @foreach (var x in ViewBag.LinksOurContent)
                                        {

                                            @if (x.IsEnable == true)
                                            {
                                                <li><a href="@x.Description">@x.Title</a></li>
                                            }
                                            else
                                            {
                                                <li><a>@x.Title</a></li>
                                            }

                                        }
                                    </ul>
                                </div>
                            </aside>
                        </div>
                        <div id="footer-3" class="col-md-3 col-sm-12 footer-column widget-area sidebar" role="complementary">
                            <aside id="archives-1" class="footer-widget widget widget_archive">
                                <h2 class="widget-title">News</h2>
                                <select id="rowsToShow" class="createdDate"></select>
                            </aside>
                        </div>
                        @*<div id="footer-4" class="col-md-3 col-sm-12 footer-column widget-area sidebar" role="complementary">
                                <aside id="search-1" class="footer-widget widget widget_search">
                                    <h2 class="widget-title">Search</h2><form role="search" method="get" class="search-form" action="/">
                                        <label>
                                            <span class="screen-reader-text">Search for:</span>
                                            <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
                                        </label>
                                        <input type="submit" class="search-submit" value="Search" />
                                    </form>
                                </aside><aside id="media_image-7" class="footer-widget widget widget_media_image"><a href="https://www.markuslerner.com/travelscope/"><img width="225" height="243" src="~/images/Travel-Scope.jpg" class="image wp-image-3935  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" /></a></aside><aside id="media_image-6" class="footer-widget widget widget_media_image"><a href="http://www.xe.com/currencyconverter/"><img width="225" height="80" src="~/images/Currency-Converter.jpg" class="image wp-image-3937  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" /></a></aside>
                            </div>*@
                    </div>
                </div>
            </div>

            <div class="site-info">
                <div class="container">
                    <div class="btt">
                        <a class="back-to-top" href="#page" title="Back To Top"><i class="fa fa-angle-double-up wow flash" data-wow-duration="2s"></i></a>
                    </div>
                    <div class="colorWhite">
                        <h4>COPYRIGHT © @DateTime.Now.Year.ToString() World Visa Guide. ALL RIGHTS RESERVED</h4>				<p>
                            Disclaimer Notice:
                            IVSource accepts no responsibility legal or otherwise, for any errors or omissions that may have occurred or for the statements made in this website. No part of this site may be reproduced in any form or by any means without permission in writing from the publishers.
                        </p>
                    </div>
                </div>
            </div>
            <!-- .site-info -->

        </footer><!-- #colophon -->
    </div><!-- #page -->


    <script type='text/javascript' src='~/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var _wpcf7 = { "loaderUrl": "http:\/\/localhost\/ivsourcenew\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif", "recaptcha": { "messages": { "empty": "Please verify that you are not a robot." } }, "sending": "Sending ..." };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/js/scripts.js?ver=4.5.1'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        //var JQLBSettings = { "fitToScreen": "0", "resizeSpeed": "400", "displayDownloadLink": "0", "navbarOnTop": "0", "loopImages": "", "resizeCenter": "", "marginSize": "", "linkTarget": "_self", "help": "", "prevLinkTitle": "previous image", "nextLinkTitle": "next image", "prevLinkText": "\u00ab Previous", "nextLinkText": "Next \u00bb", "closeTitle": "close image gallery", "image": "Image ", "of": " of ", "download": "Download", "jqlb_overlay_opacity": "80", "jqlb_overlay_color": "#000000", "jqlb_overlay_close": "1", "jqlb_border_width": "10", "jqlb_border_color": "#ffffff", "jqlb_border_radius": "0", "jqlb_image_info_background_transparency": "100", "jqlb_image_info_bg_color": "#ffffff", "jqlb_image_info_text_color": "#000000", "jqlb_image_info_text_fontsize": "10", "jqlb_show_text_for_image": "1", "jqlb_next_image_title": "next image", "jqlb_previous_image_title": "previous image", "jqlb_next_button_image": "http:\/\/localhost\/ivsourcenew\/wp-content\/plugins\/wp-lightbox-2\/styles\/images\/next.gif", "jqlb_previous_button_image": "http:\/\/localhost\/ivsourcenew\/wp-content\/plugins\/wp-lightbox-2\/styles\/images\/prev.gif", "jqlb_maximum_width": "", "jqlb_maximum_height": "", "jqlb_show_close_button": "1", "jqlb_close_image_title": "close image gallery", "jqlb_close_image_max_heght": "22", "jqlb_image_for_close_lightbox": "http:\/\/localhost\/ivsourcenew\/wp-content\/plugins\/wp-lightbox-2\/styles\/images\/closelabel.gif", "jqlb_keyboard_navigation": "1", "jqlb_popup_size_fix": "0" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/js/wp-lightbox-2.min.js?ver=1.3.4.1'></script>
    <script type='text/javascript' src='~/js/plugins.js?ver=2.2.7'></script>
    <script type='text/javascript' src='~/js/bootstrap.min.js?ver=2.2.7'></script>
    <script type='text/javascript' src='~/js/owl.carousel.min.js?ver=2.2.7'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var onepress_js_settings = { "onepress_disable_animation": "", "onepress_disable_sticky_header": "", "onepress_vertical_align_menu": "", "hero_animation": "flipInX", "hero_speed": "5000", "hero_fade": "750", "hero_duration": "5000", "hero_disable_preload": "", "is_home": "", "gallery_enable": "1", "is_rtl": "" };
        var $ = jQuery;
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/js/theme.js?ver=2.2.7'></script>
    <script type='text/javascript' src='~/js/wp-embed.min.js?ver=4.9.16'></script>
    <script type='text/javascript' src='~/js/slick.js?ver=2.1.17'></script>
    <script type='text/javascript' src='~/js/wp-carousel-free-public.js?ver=2.1.17'></script>
    <script type='text/javascript' src='~/js/preloader.js?ver=2.1.17'></script>
    <script>
        (function ($) {

            $("#site-navigation a").click(function () {
                window.location.href = $(this).attr("href");
            });

            $('#menu-our-content a').filter(function () {
                return location.href.indexOf($(this).attr("data-link")) >= 0; //this.href === location.href;
            }).addClass('activeMemb');

            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }

            $(document).ready(function () {
                if (acc[0] != undefined)
                    $(acc[0]).click();
            });

        })(jQuery)

        jQuery('#rowsToShow').change(function () {
            var currentUrl = document.location.origin + '/IvsVisaSubPages/Blog';
            var url;
            if (currentUrl.indexOf("?") != -1) {
                if (currentUrl.indexOf("rowsToShow") != -1) {
                    var href = new URL(currentUrl);
                    href.searchParams.set('rowsToShow', jQuery(this).val());
                    url = href.toString();
                }
                else
                    url = currentUrl + "&rowsToShow=" + jQuery(this).val();
            }
            else
                url = currentUrl + "?rowsToShow=" + jQuery(this).val();
            window.location.href = url;
        });

        jQuery(document).ready(function () {
            jQuery.ajax({
                type: "post",
                url: "/IvsVisaLogo/Index",
                success: function (response) {
                    var image = response.image;
                    var title = response.title;
                    //jQuery('#logoHeader').attr('src', "/images/" + image);
                    jQuery('#logoHeader').attr('src', "/Uploads/logo/logoIVS.PNG");


                    var options = '';
                    options += '<option value="Select">Select Month</option>';

                    for (var i = 0; i < response.createdDate.length; i++) {
                        options += '<option value="' + response.createdDate[i].createdDateValue + '">' + response.createdDate[i].createdDateText + '</option>';
                    }

                    jQuery('.createdDate').append(options);
                },
            });
        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>

