@model ReflectionIT.Mvc.Paging.PagingList<IVSource.Models.IvsVisaHelpAddress>
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "HELP ADDRESSES";
    Layout = "~/Views/Shared/Admin/_LayoutAdminVisaDetails.cshtml";
}

<div class="container">
    <div class="col-md-10" style="margin:auto;">
        @{if (TempData["Message"] != null)
            {
                <h4 class="text-center" style="color:green;">@TempData["Message"]</h4>
                <br />
            }
        }
        <div class="form-group row">
            <div class="col-md-6">
                <div>
                    <a asp-action="Add" asp-controller="IvsVisaHelpAddresses" class="btn btn-info form-control text-white" style="width:200px; margin-top: 0.9em;">
                        Add New Help Address
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="font-weight-bold col-sm-6">
                Total : @ViewBag.Total
            </div><br />
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label class="lead">  Show entries &nbsp;</label>
                @Html.DropDownList("rowsToShow", new List<SelectListItem>
                {
                  new SelectListItem { Text = "10", Value = "10"},
                  new SelectListItem { Text = "25", Value = "25"},
                  new SelectListItem { Text = "50", Value = "50"},
                  new SelectListItem { Text = "100", Value = "100"}
                })
            </div>
            <div class="col-sm-6 text-right">
                <form method="get" class="form-inline" style="display: inline-block;">
                    <input name="filter" class="form-control"
                           value="@Model.RouteValue["Filter"]" />  &nbsp; &nbsp;
                    <button type="submit" class="btn btn-info">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                    </button>
                </form>
            </div>
        </div>
        <div class="clear"></div>
        <br />
        <br />
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.SortableHeaderFor(model => model.OfficeName)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.OfficeCountry)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.AddressType)
                    </th>
                    <th>
                        @Html.SortableHeaderFor(model => model.IsEnable)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select((value, index) => new { value, index }))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.value.OfficeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.value.OfficeCountry)
                        </td>
                        <td>
                            @(item.value.AddressType == "IHA" ? "International Help Addresses" : "Indian Missions Overseas")
                        </td>
                        <td>
                            @(Convert.ToBoolean(item.value.IsEnable) ? "Yes" : "No")
                        </td>
                        <td class="subsBtn">
                            <a asp-action="Edit" asp-route-id="@item.value.SerialNum">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <nav aria-label="pagination">
            <vc:pager paging-list="@Model" />
        </nav>
        @section Scripts {
            <script>
                jQuery('#rowsToShow').change(function () {
                    var currentUrl = jQuery(location).attr('href');
                    var url;// = currentUrl + "?rowsToShow=" + jQuery(this).val();
                    if (currentUrl.indexOf("?") != -1) {
                        if (currentUrl.indexOf("rowsToShow") != -1) {
                            var href = new URL(currentUrl);
                            href.searchParams.set('rowsToShow', jQuery(this).val());
                            url = href.toString();
                        }
                        else
                            url = currentUrl + "&rowsToShow=" + jQuery(this).val();
                    }
                    else
                        url = currentUrl + "?rowsToShow=" + jQuery(this).val();
                    window.location.href = url;
                });
            </script>
        }
    </div>
</div>